
.App {
  padding: 50px;
  text-align: center;
  background-color: slategray;
  border: 5px solid black;
}
#demo1{
  margin: 5px;
  background-color: rgb(64, 212, 50);
  border: 2px solid black;
}
#demo2{
  margin: 5px;
  background-color: red;
  border: 2px solid black;
}
#demo3{
  margin: 5px;
  background-color: blue;
  border: 2px solid black;
}
#demo4{
  margin: 5px;
  background-color: burlywood;
  border: 2px solid black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
